[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "==1.1.2"
pymysql = "*"
flask-migrate = "==2.7.0"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.8"
