{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row row-no-gutters">
        <div class="col-xs-12 col-md-8">
            {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong>
                提交失败，请确保信息完整！
            </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <div class="form-title">
                        New Paste
                    </div>
                    <textarea class="form-control" name="content" rows="15" style="resize: none"></textarea>
                </div>
                <div class="form-group">

                    <div class="form-title">
                        Optional Paste Settings
                    </div>
                    <hr class="new-hr">
                    <div class="row row-no-gutters">
                        <div class="col-xs-6 col-md-6 form-horizontal">
                            <div style="padding: 15px">
                                <div class="form-group">
                                    <label for="Highlighting" class="col-sm-3 control-label">语法高亮：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="heighlight" id="Highlighting">
                                            {% for item in code_type %}
                                            <option>{{ item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Expiration" class="col-sm-3 control-label">到期时间：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="expiration" id="Expiration">
                                            <option value="Never">从不</option>
                                            <option value="BurnAfterRead">阅后即焚</option>
                                            <option value="TenMinutesAfter">10分钟后</option>
                                            <option value="OneHourAfter">1小时后</option>
                                            <option value="OneDayAfter">1天后</option>
                                            <option value="OneWeekAfter">1周后</option>
                                            <option value="TwoWeeksAfter">2周后</option>
                                            <option value="OneMonthAfter">1个月后</option>
                                            <option value="SixMonthAfter">6个月后</option>
                                            <option value="OneYearAfter">1年后</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Exposure" class="col-sm-3 control-label">访问限制：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="access_right" id="Exposure">
                                            <option value="Public">公开</option>
                                            <option value="UnListed">公开不展示</option>

                                            <option value="Private"
                                            {% if not user %}
                                                    disabled
                                            {% endif %}
                                            >私有</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Password" class="col-sm-3 control-label">访问密码：</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label id="pwd_enable_label">
                                                <input type="checkbox" id="pwd_enable" name="pwd_enable"
                                                       onchange="pwd_change(this)" value="false"> Disabled
                                            </label>
                                        </div>
                                        <input type="text" class="form-control" name="access_passwd" id="Password"
                                               placeholder="访问密码" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Title" class="col-sm-3 control-label">标题：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="title" id="Title"
                                               placeholder="标题">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Create New Paste</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="user-info-index">
                                {% if not user %}
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" style="width: 48px; height: 48px;" src="https://pastebin.com/themes/pastebin/img/guest.png" alt="useravatar">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading" style="font-weight: bold">Guest</h5>
                                        <a class="btn btn-default btn-sm" href="{{ url_for('user_app.login')}}" role="button">Login</a>
                                        or <a class="btn btn-default btn-sm" href="{{ url_for('user_app.signup')}}" role="button">SignUp</a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" style="width: 48px; height: 48px;" src="{{ user.avatar }}" alt="useravatar">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading" style="font-weight: bold">{{ user.username }}</h5>
                                        {{ user.email }}
                                    </div>
                                </div>
                                {% endif %}

                            </div>


                        </div>
                    </div>
                </div>

            </form>


        </div>
        <div class="col-xs-6 col-md-4">
            <div class="paste-div">
                {% if is_login %}
                <div class="form-title">

                    My Pastes
                </div>
                {% endif %}

                <div class="form-title">
                    Public Pastes
                </div>
                {% for item in paste_bin_list %}
                <div class="public-list">
                    <div class="item-title">
                        {% if item.title %}
                        <p class="title-p"><a href="{{url_for('user_app.view_paste', paste_id=item.id )}}">{{ item.title }}</a></p>
                        {% else %}
                        <p class="title-p">{{ item.content }}</p>
                        {% endif %}
                    </div>
                    <p class="item-info">{{ item.timestamp }}|{{ item.is_highlight }}</p>
                    <hr class="new-hr">
                </div>
                {% endfor %}
            </div>


        </div>

    </div>
</div>

{% endblock %}
{% block js_block %}
<script>
    function pwd_change(checkbox) {
        if (checkbox.checked === false) {
            checkbox.value = false;
            $('#Password').attr('disabled', true);
            $('#pwd_enable_label').html('<input type="checkbox" id="pwd_enable" name="pwd_enable" onchange="pwd_change(this)" value="false"> Disabled')
        } else {
            checkbox.value = true;
            $('#Password').attr('disabled', false);
            $('#pwd_enable_label').html('<input type="checkbox" id="pwd_enable" name="pwd_enable" onchange="pwd_change(this)" value="true" checked> Enabled')
        }
    }
</script>

{% endblock %}